@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header sec */
header {
    width: 100%;
    background-color: #FFF;
}

.header-icon-text {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;

}

.header-icon {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.header-icon img {
    width: 70px;
    height: 60px;
    margin-right: 10px;
}

.icon-text {
    color: rgba(212, 17, 212, 0.848);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-bar>ul {
    list-style: none;
    display: flex;
    margin-right: 70px;
    margin-top: 50px;

}

nav li {
    margin-left: 70px;
}

nav li a {

    text-decoration: none;

}

#li-with-icon img {
    width: 33.916px;
    height: 24px;

}

#li-with-icon {
    background-color: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 10px;
    padding: 8px;
    align-items: center;

}

/* banner items */
.banner {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF;

}

.banner-text {
    background-image: url(../pic/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 901px;
    height: 700px;

}

.banner-heading {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-align: center;

}

.banner-bold {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

}

.banner-list p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;

}

.btn-primary {

    display: inline-flex;
    padding: 21px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.btn-next {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 20px;
}

.btn-div {
    margin-left: 250px;
}

/* main section */
.main-up {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.main-up-text img {
    width: 868px;
    height: 489px;
}

.main-up-text-heading {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-up-text-description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.main-up-text button {
    margin-left: 300px;
}

.unleash {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;

}

.unleash-next {
    margin-top: 10px;
}

.games-head {
    margin-bottom: 80px;
}

.games-heading {
    color: #0B0223;
    text-align: center;

    font-size: 48px;

    font-weight: 700;




}

.games-heading-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.games-heading-next {
    color: #F948B2;
}

/* card section */
.card {
    display: flex;
    justify-content: space-evenly;


}

.card-img {
    width: 342px;
    height: 400px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}

.overlap {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    background: #FFF;


}


.text-main-down {
    margin-top: 200px;
}

#overlap-img {
    width: 318.5px;
    height: 365.083px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
    position: relative;
    bottom: 250px;
    right: 100px;


}

#overlap-img2 {
    position: relative;
    left: 100px;




}



.main-down-head {
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

}

.play-text {
    color: #F948B2;


}

.main-down-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px
}

.hover-sec {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.hover-sec .hover {
    align-items: center;
}


/* hover sec------------------------------------- */
.hover {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.hover-card {
    /* border: 2px solid rgba(216, 65, 90, 0.928); */
    border-radius: 50px;
    background: #FFF;
    width: 248px;
    height: 80px;
    display: flex;
    padding: 10px;

}

.hover-text {
    font-weight: 600;
    font-size: 20px;
    color: rgba(216, 65, 90, 0.928);
    margin-left: 10px;
}

.hover-one {
    display: flex;
    justify-content: space-evenly;
}

.hover-two {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 180px;
}

.hover-card:hover {
    border: 2px solid rgba(216, 65, 90, 0.928);

}

/* footer--------------------------------------- */
.footer {
    background: #0B0223;
}

.footer-icon-text {
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    margin-left: 20px;

}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-list li {

    list-style: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;


}

.last-list {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.footer-icon-container img {
    padding-bottom: 120px;
    height: 60px;
    width: 60px;
    margin: 60px 60px 0px 60px;

}

.copy-container {

    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
    padding-bottom: 160px;
}


 /*media queary */

@media screen and (max-width:576px) {

    nav,
    .banner,
    .card,
    .main-up,
    .overlap,.last-list {
        flex-direction: column;
    }

    .img-maindown {
        padding-right: 30px;
        margin-right: 180px;
        max-width: 409px;
        max-height: 1210px;
    }

    .img-maindown img {

        width: 300px;

    }

    #overlap-img2 {
        right: 500px;


    }

    #overlap-img {
        width: 200px;
        height: 300px;
        left: 50px;
        bottom: 40px;

    }

    .banner-text {
        width: 700px;
        height: 700px;
    }

    .banner-img {
        width: 100%;
    }

    .card-img {
        margin-bottom: 60px;
    }

    .main-up-img img {
        width: 100%;
    }

    .banner-img img {
        width: 450px;

    }

    .banner-text {
        width: 580px;
    }

    .header-icon {
        margin-left: 190px;
    }

    .hover-card {
        width: 100px;
        height: 40px;
        padding: 5px
    }

    .hover-text {
        font-weight: 200;
        font-size: 10px;
    }

    .hover-one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hover-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .last-list li{
        margin-bottom: 10px;
    }
    .footer-icon-container img{
        margin: 20px;
    }
    .overlap{
        margin-top: 10px;
    }




}

@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .banner,
    .main-up,
    .card,
    .overlap {
        flex-direction: column;
    }

    .banner-img img {
        width: 85%;
    }

    .main-up-img img {
        width: 85%;

    }

    .banner-text {
        width: 700px;
        height: 700px;
    }

    .main-up-text-heading {
        margin-right: 220px;
    }

    .main-up-text-description {
        text-align: center;
    }

    .unleash p {
        text-align: center;
    }

    .games-heading {
        align-items: center;
    }

    .card {
        margin-top: 20px;
    }

    .card-img {
        margin-top: 70px;
    }

    #overlap-img2 {
        width: 60%;
        margin-left: 100px;
    }

    #overlap-img {
        left: 150px;
    }
    .hover-card {
        width: 100px;
        height: 40px;
        padding: 5px
    }
    .hover-text {
        font-weight: 200;
        font-size: 10px;
    }
    .footer-icon-container img{
        margin: 20px;
    }


}