@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header sec */
header {
    width: 100%;
    background-color: #FFF;
}

.header-icon-text {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;

}

.header-icon {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.header-icon img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.icon-text {
    color: rgba(212, 17, 212, 0.848);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-bar>ul {
    list-style: none;
    display: flex;
    margin-right: 70px;
    margin-top: 50px;

}

nav li {
    margin-left: 70px;

}

#li-with-icon img {
    width: 33.916px;
    height: 24px;

}

#li-with-icon {
    background-color: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 10px;
    padding: 8px;
    align-items: center;

}

/* banner items */
.banner {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF;

}

.banner-text {
    background-image: url(../pic/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 901px;
    height: 700px;

}

.banner-heading {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-align: center;

}

.banner-bold {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

}

.banner-list p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;

}

.btn-primary {

    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.btn-next {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 20px;
}

.btn-div {
    margin-left: 250px;
}
/* main section */
.main-up{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

/* meadia quary */
@media screen and (max-width:576px) {

    nav,
    .banner {
        flex-direction: column;
    }

    .banner-text {
        width: 700px;
        height: 700px;
    }
    .banner-img{
        width: 100%;
    }
}